# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Jupyter Notebook ---
.ipynb_checkpoints/

# --- Dữ liệu ---
# Bỏ qua tất cả file dữ liệu CSV (nặng hoặc trung bình)
data/**/*.csv

# Bỏ qua toàn bộ dữ liệu gốc và đã xử lý
data/raw/
data/processed/*.csv

# --- File hệ thống ---
.DS_Store
Thumbs.db
